@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content wrapper start -->
<style>
    p {
       margin:0 !important;
        font-size: .85rem;
        line-height: 1.2;
    }

    .smallp{
        font-size:12px !important;
      
    }
    hr{
        margin:3px 0;
    }

    .txt-white{
        color: white;
    }

    .greentext{
        color: green;
    }
    .greenborder{
        border-top: 3px solid green;
    }

    .yellowtxt{
        color: green;
        font-weight:800;
    }

    .greybg{
        background-color: lightgrey;
    }
</style>

<!-- Content wrapper start -->





    <div class="content-wrapper p-3">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-home"></i>
                </span> Dashboard
            </h3>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                    </li>
                </ul>
            </nav>
        </div>

    @* start here*@

        <div class="row g-1 ">
            <div class="col-md-8  col-sm-12 grid-margin stretch-card">
            <div class="card w-100">
                    <div class="card-body row ">

                        <div class="d-flex row align-content-around justify-content-around ">

                      <span class="  "><p>Hi  Lawrence. Here's a glance ofyour business at Adenta Branch</p></span>   

                    </div>
                     

                    </div>
                </div>
            </div>
            <div class="col-md-4 d col-sm-12 grid-margin stretch-card">
            <div class="w-100"> 
            <div class=" gap-1 d-flex ">

              
                    <div class="card col-sm-6 ">
                <div class="card-body    ">
                            <div class="d-flex flex-column  ">
                                <span class="small text-muted   pb-1">GHS</span>
                                <span class="small ">0.00</span>
                        <span class="greentext smallp">Top Up Prepaid Balance</span>
                    </div>
                </div>


                    </div>
               
                    <div class="card col-sm-6 green txt-white ">
                <div class="card-body    ">
                    <div class="d-flex flex-column ">
                        <span class="small  pb-1">GHS</span>
                        <span class="small ">0.00</span>
                        <span class=" smallp">Transfer Funds</span>
                    </div>
                </div>


                    </div>
                </div>
            </div>
            </div>
        </div>


      @* End here*@



    <div class="row g-1 ">
        <div class="col-md-8  col-sm-12 d-flex flex-column ">

           
            

            <div class="d-flex">

                    <div class="d-flex col-4 flex-column selectborder card greenborder greybg gap-2">
                            <div class="card-body d-flex flex-column ">
                            <span class="small  ">GHS 0.00</span>

                        <span class=" smallp">Estimated Profit for today</span>
                        <span class="small yellowtxt">0.00</span>
                        </div>
                    </div>

                    <div class="d-flex col-4 flex-column gap-2  card">
                            <div class="card-body d-flex flex-column ">
                        <span class="small  ">GHS 0.00</span>
                      
                        <span class=" smallp">Total funds for today</span>
                        <span class="small yellowtxt ">0.00</span>
                    </div>
                      </div>

                    <div class="d-flex col-4 flex-column gap-2 card ">
                            <div class="card-body d-flex flex-column ">
                        <span class="small  ">GHS 0.00</span>
                      
                        <span class=" smallp"> Customers served for today</span>
                        <span class="small yellowtxt ">0.00</span>
                      </div>

                </div>
                    </div>
           

            @*Ends here*@

            <div class="card w-100 py-2 mt-1">
                <div class="card-body d-flex flex-column ">



                    <div class="d-flex w-100 justify-content-between  selectborder text-center  gap-2">
                        <div class="d-flex justify-content-center "> <span class="align-baseline text-muted py-2 ">Sales Trends for </span>
                            
                       
                         
                            <select type="text" class="smallp greentext border-0 ">
                                <option><span>PAST SEVEN DAYS</span></option>
                                <option>2</option>
                               
                            </select>

                   


                        </div>

                        <div class="d-flex flex-column " >
                            <span class=" small">Gross Sales</span>
                            <span class="small ">GHS 0.00</span>
                       </div>
                    </div>
                    <hr />
                    <div class="my-5 mx-auto ">
                        <p>NO DATA FOUND</p>
                    </div>




                </div>
          
            </div>
            </div>

        <div class="col-md-4 d col-sm-12 ">
            <div class="w-100">

                <div class="card d-flex flex-column p-2">
                        <div class="d-flex justify-content-between ">
                           <p>  Recent Transactions</p>
                        <p><span class="mr-2" >SEE MORE</span></p>
                        </div>

                    <div class="d-flex flex-column py-2">
                        <div class="d-flex justify-content-between  ">
                            <p>  Bright Asante</p>
                            <p>GHS 1.23</p>
                         
                     </div>
                        <div class="d-flex justify-content-between  ">
                            <p><span class="text-muted smallp">Make we help</span></p>
                            <p><span class="text-muted smallp">1st April 2021</span></p>
                        </div>
                    </div>


                    @*separate*@


                    <div class="d-flex flex-column py-2">
                        <div class="d-flex justify-content-between  ">
                            <p>  Bright Asante</p>
                            <p>GHS 1.23</p>

                        </div>
                        <div class="d-flex justify-content-between  ">
                            <p><span class="text-muted smallp">Make we help</span></p>
                            <p><span class="text-muted smallp">1st April 2021</span></p>
                        </div>
                    </div>


                    
                    @*separate*@


                    <div class="d-flex flex-column py-2">
                        <div class="d-flex justify-content-between  ">
                            <p>  Bright Asante</p>
                            <p>GHS 1.23</p>

                        </div>
                        <div class="d-flex justify-content-between  ">
                            <p><span class="text-muted smallp">Make we help</span></p>
                            <p><span class="text-muted smallp">1st April 2021</span></p>
                        </div>
                    </div>



                    
                    @*separate*@


                    <div class="d-flex flex-column py-2">
                        <div class="d-flex justify-content-between  ">
                            <p>  Bright Asante</p>
                            <p>GHS 1.23</p>

                        </div>
                        <div class="d-flex justify-content-between  ">
                            <p><span class="text-muted smallp">Make we help</span></p>
                            <p><span class="text-muted smallp">1st April 2021</span></p>
                        </div>
                    </div>







                    @*separate*@


                    <div class="d-flex flex-column py-2">
                        <div class="d-flex justify-content-between  ">
                            <p>  Bright Asante</p>
                            <p>GHS 1.23</p>

                        </div>
                        <div class="d-flex justify-content-between  ">
                            <p><span class="text-muted smallp">Make we help</span></p>
                            <p><span class="text-muted smallp">1st April 2021</span></p>
                        </div>
                    </div>


                    </div>
    
            </div>
        </div>

         </div>






    @* start here*@

    <div class="row g-2 my-1 ">
  
        <div class="col-md-8  col-sm-12 grid-margin stretch-card">
            <div class="w-100">
                <div class=" gap-1 d-flex ">

                    <div class="col-md-6 col-sm-12 ">
                        <p>How you make Sales</p>
                    <div class="card mt-1 ">
                         <div class="card-body    ">
                <div class="d-flex flex-column ">

                            <select type="text" class=" border-0 greentext smallp w-50 ">
                                <option><span>PAST SEVEN DAYS</span></option>
                                <option>2</option>

                            </select>

                            <div class="my-5 mx-auto ">
                                <p>NO DATA FOUND</p>
                            </div>


                              </div>
                         </div>

                    </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <p>How your customers Pay you</p>
                        <div class="card mt-1 ">
                             <div class="card-body    ">
                <div class="d-flex flex-column ">

                                    <select type="text" class="greentext border-0 smallp w-50 ">
                                <option><span>PAST SEVEN DAYS</span></option>
                                <option>2</option>

                            </select>

                            <div class="my-5 mx-auto ">
                                <p>NO DATA FOUND</p>
                            </div>

                           </div>
                         </div>

                        </div>
                    </div>

                   
                </div>
              
            </div>
          
        </div>


        <div class="col-md-4  col-sm-12 grid-margin stretch-card">
            <div class="w-100">
                <p>How you make Sales</p>
        <div class="card  mt-1">
            <div class="card-body    ">
                <div class="d-flex flex-column ">

                            <select type="text" class="greentext border-0 smallp w-50 ">
                                <option><span>PAST SEVEN DAYS</span></option>
                                <option>2</option>

                            </select>

                            <div class="my-5 mx-auto ">
                                <p>NO DATA FOUND</p>
                            </div>
                </div>
            </div>
                </div>
            </div>

        </div>
    </div>


    @* End here*@






















    @* start here*@

    <div class="row g-2 my-1 ">

        <div class="col-md-8  col-sm-12 grid-margin stretch-card">
            <div class="w-100">
                <div class=" gap-1 d-flex ">

                    <div class="col-md-6 col-sm-12">
                        <p>Your total customers are</p>
                        <div class="card mt-1 ">
                            <div class="card-body    ">
                                <div class="d-flex flex-column ">

                                    <h6>0.0</h6>
                                    <br />
                                    <div class="d-flex smallp justify-content-between">

                                        <p>Dominant Customers</p>
                                        <p>12</p>

                                    </div>
                                    <hr />


                                    <div class="d-flex smallp justify-content-between">

                                        <p>Dominant Customers</p>
                                        <p>12</p>

                                    </div>
                                    <hr />

                                    <div class="d-flex smallp justify-content-between">

                                        <p>Inactive Customers</p>
                                        <p>12</p>

                                    </div>
                                    <hr />

                                    <div class="d-flex smallp justify-content-between">

                                        <p>Average Customers Value</p>
                                        <p>12</p>

                                    </div>
                                    <hr />
                                     <div class="d-flex smallp justify-content-between">

                                        <p>Average Spend Per Value</p>
                                        <p>12</p>

                                    </div>
                                    <hr />

                                     <div class="d-flex smallp justify-content-between">

                                        <p>Returning Customers</p>
                                        <p>12</p>

                                    </div>
                            
                                   


                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <p>What your customers are saying</p>
                        <div class="card mt-1 ">
                            <div class="card-body   ">
                                <div class="d-flex flex-column smallp  ">

                            <h6>0.0</h6>
                            <br />
                                    <p><span class="text-muted smallp" >Customer reviews are imortant ,as it turns out. The fact is (0% of consumerss </span></p>
                            <br />
                            <h6>Latest FeedBack</h6>

                                    <p><span class="text-muted smallp">Customer reviews are imortant ,as it turns out. The fact is (0% of consumerss </span></p>

                                    <p><span class="text-muted smallp">Customer reviews are imortant ,as it turns out. The fact is (0% of consumerss </span></p>

                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>

        </div>


        <div class="col-md-4  col-sm-12 grid-margin stretch-card">
            <div class="w-100">
                <p>Sales employee of the month</p>
                <div class="card  mt-1">
                    <div class="card-body    ">
                        <div class="d-flex flex-column justify-content-center ">

                            <div class="my-5 mx-auto text-center ">
                            <p>Lawrence Agbemava</p>
                             <p>23325151425</p>
                             </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    @* End here*@








    </div>




  
@*   <div class="col-md-3  col-sm-6">
            <div class=" d-flex gap-1 mb-2 marg">
                <button class="btn  btn-sm btn-secondary ">Day</button>
                <button class="btn  btn-sm btn-secondary ">Week</button>
                <button class="btn  btn-sm btn-secondary ">Month</button>
                <button class="btn  btn-sm btn-secondary ">Year</button>
            </div>
        </div>

        <div class="row marg ">
            <div class="col-md-3  stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder ">
                <div class="card-body text-white">
                        <img src="~/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Total Trans
                        </h4>
                        <h2 class="mb-2">00</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder ">
                    <div class="card-body text-white">
                        <img src="~/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Failed Trans
                        </h4>
                        <h2 class="mb-2">00</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder  font-weight-bold ">
                <div class="card-body text-white">
                        <img src="~/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Success Trans
                        </h4>
                        <h2 class="mb-2">00</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 stretch-card grid-margin">
                <div class="card bg-gradient-warning card-img-holder ">
                <div class="card-body text-white">
                        <img src="~/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Total Success Trans
                        </h4>
                        <h2 class="mb-2">00</h2>
                    </div>
                </div>
            </div>
        </div>*@