@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content wrapper start -->
@*<style>
    .content-wrapper {
        height: 100vh;
    }
</style>*@

<!-- Content wrapper start -->





<div class="content-wrapper p-3">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-settings"></i>
            </span> Settings/Users
        </h3>
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                </li>
            </ul>
        </nav>
    </div>


    <div class="row">
        <div class=" grid-margin stretch-card">
            <div class="card">
                <div class="card-body py-2">

                    <div class="d-flex col-6 flex-column">
                        <h5><span class="px-2">Settings</span> </h5>

                        <div class="col-sm-12 col-md-12 p-2">
                            <label>Current Password</label>
                            <input type="password" class="form-control form-control-sm">

                        </div>
                        <div class="col-sm-12 col-md-12 p-2">
                            <label>New Password</label>
                            <input type="password" class="form-control form-control-sm">

                        </div>

                        <div class="col-sm-12 col-md-12 p-2">
                            <label>Confirm New Password</label>
                            <input type="password" class="form-control form-control-sm">

                        </div>
                        <div class="col-sm-12 col-md-12 px-2">
                            <button class=" w-100 btn btn-block btn-sm btn-gradient-primary">Change Password</button>


                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">

                    <div class="table-responsive ">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> ID </th>
                                    <th> Created Date </th>
                                    <th> Full Name </th>
                                    <th> Email </th>
                                    <th> Phone Number </th>
                                    <th> Role</th>
                                    <th> Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td> 3243452Fundisnotrecieved234 </td>
                                    <td> Dec5,2017 </td>
                                    <td> WD-12345 </td>
                                    <td> Dec5,2017 </td>
                                    <td> WD-12345 </td>
                                    <td> Dec5,2017 </td>
                                    <td> <button class="statusbtn p-1 rounded border-0">Active</button></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




  
