@{
    ViewData["Title"] = "My Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content wrapper start -->
@*<style>
    .content-wrapper {
        height: 100vh;
    }
</style>*@

<!-- Content wrapper start -->




<div class="content-wrapper p-3">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-file"></i>
            </span> My Account
        </h3>
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                </li>
            </ul>
        </nav>
    </div>




    <div class="row">


        <div class="col-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body py-2">

                    <div class="d-flex  flex-column">
                        <h5><span class="px-2">Merchant Profile</span> </h5>
                        <div class="d-flex">
                            <div class="col-sm-12 col-md-6 p-2">
                                <label>Merchant Name</label>
                                <input type="text" class="form-control form-control-sm">

                            </div>
                            <div class="col-sm-12 col-md-6 p-2">
                                <label>Merchant ID</label>
                                <input type="text" class="form-control form-control-sm">

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 p-2">
                            <label>Email</label>
                            <input type="text" class="form-control form-control-sm">

                        </div>
                        <div class="col-sm-12 col-md-12 p-2">
                            <label>Balance</label>
                            <input type="number" class="form-control form-control-sm">

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

  
