@{
    ViewData["Title"] = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content wrapper start -->
@*<style>
    .content-wrapper {
        height: 100vh;
    }
</style>*@

<!-- Content wrapper start -->





<div class="content-wrapper p-3">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-tag"></i>
            </span> Sales
        </h3>
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                </li>
            </ul>
        </nav>
    </div>




    <div class="row">


        <div class="col-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body py-2">

                    <div class="d-flex  flex-column">


                        <div class="col-sm-12 col-md-12 d-flex flex-column p-2">
                            <label>Mobile Network</label>
                            <select type="text" class=" selectstyle form-control-sm">
                                <option>MTN</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>

                        </div>



                        <div class="col-sm-12 col-md-12 p-2">
                            <label>Phone Number</label>
                            <input type="text" class="form-control form-control-sm">

                        </div>
                        <div class="col-sm-12 col-md-12 p-2">
                            <label>Customer Name</label>
                            <input type="text" class="form-control form-control-sm">

                        </div>
                        <div class=" col-sm-12 col-md-12 p-2">
                            <label>Amount</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">GHS</span>
                                </div>

                                <input type="number" class="form-control form-control-sm" aria-label="">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 p-2">
                            <label>Narration</label>
                            <input type="text" class="form-control form-control-sm">

                        </div>
                        <div class="col-sm-12 col-md-12 px-2">
                            <button class=" w-100 btn btn-block btn-sm btn-gradient-primary">Charge Customer</button>


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

  
